.DS_Store
*__pycache__*
*.DS_Store
.vscode*
results*
debug.log
experiments/*
pre_load_graph/*
new_data/*
eventClassifierTest.py
test_scripts/*
adversarial/artifacts/*
data/*
!/data/GT
data/GT/*
!data/GT/human_readable_gt
!data/GT/groundTruth*.txt
temp.py
label/*